.category-list-not-found {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  color: red;
  max-width: 70%;
  margin: 20px auto 0px auto;
  border: 1px solid #d3cbcb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fa;
}
.category-list-row {
  width: 90%;
  margin: auto !important;
  margin-top: 20px !important;
  margin-bottom: 10px;
}
.category-list-image-container {
  height: 50vh;
  text-align: center;
  position: relative;
}
.category-list-text {
  padding: 20px;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  text-align: center;
  user-select: none;
}
.category-list-arrow {
  width: 50px;
  float: left;
  bottom: 10px;
  position: absolute;
  right: calc(50% - 25px);
}
@media only screen and (min-width: 720px) {
  .category-list-image-container {
    text-align: right;
  }
  .category-list-text {
    text-align: right;
  }
}
